body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

#timeblock-1, #timeblock-2 ,#timeblock-3 ,#timeblock-4, #timeblock-5, #timeblock-9, #timeblock-10, #timeblock-11, #timeblock-12 {
  text-align: center;
  border-radius: 15px;
  /* background-color: #5bcfe9; */
  display: flex;
  width: 300px;
  height: auto;
  color: #000000;
  margin: 1px;
  padding: 10px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  display: flex;
  
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.input9, .input10, .input11, .input12, .input1, .input2, .input3, .input4,.input5{
  width: 95%;
  background-color: white;
  height: 100px;
  margin: 10px;
}
